PORT=3000
FRONTEND_URL=http://localhost:5173
JWT_SECRET=DEV_TINDER_SECRET
DB_CONNECTION_STRING=mongodb+srv://<username>:<password>@cluster.mongodb.net/
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
